header, nav, main {
    max-width: 960px;
    margin: auto;
}
header{
    margin-bottom: 1.2rem;
}

/* NAVIGATION STUFF GOES HERE  */
nav{
    height: auto;
    border-bottom: 2px solid $greyColor ;
    ul{
        display: flex;
        justify-content: right;
    }
}